* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: lightblue;
  flex-flow: row wrap;
  align-content: space-between;
}

header {
  background-color: rgb(104, 40, 13);
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  /* top: 0; */
  width: 100%;
}

nav {
  padding: 0;
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
}

nav a {
  align-items: baseline;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
  transition: all 0.5s ease-in-out 0s;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding-top: 50px;
}

img {
  width: 120px;
  height: 120px;
  background-color: rgb(127, 255, 249);
}

.mc {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 2px solid blue;
  justify-content: center;
  align-content: space-evenly;
  height: 90%;
}

.main-content {
  grid-area: 2 / 2 / 8 / 8;
  margin: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  border: 2px solid black;
}

.projects {
  grid-area: 1 / 1 / -1 / 2;
  padding: 20px;
  border: 2px solid white;
}

.interest {
  grid-area: 1 / 2 / 3 / 3;
  padding: 20px;
  border: 2px solid green;
}

footer {
  background-color: rgb(104, 40, 13);
  text-align: center;
  /* position: fixed;
  bottom: 0; */
  width: 100%;
}

footer a {
  color: #f2f2f2;
}

@media only screen and (max-width: 768px) {
  body {
    background-image: lightblue;
    flex-flow: row wrap;
    align-content: space-between;
  }

  header {
    background-color: rgb(104, 40, 13);
    color: #f2f2f2;
    font-size: 10px;
    flex-direction: column;
  }

  nav {
    padding: 0;
    margin-right: 10px;
    display: flex;
    /* align-items: flex-end; */
  }

  nav a {
    align-items: last baseline;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0px;
  }

  nav a:hover {
    background-color: #ddd;
    color: black;
    transition: all 0.5s ease-in-out 0s;
  }

  .main-content {
    margin: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .projects {
    grid-area: 1 / 3 / 1/ 3;
    padding: 30px;
    border: 2px solid white;
  }

  .interest {
    grid-area: 2 / 3 / 3 / 3;
    padding: 30px;
    border: 2px solid green;
  }
}
