* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Poppins Placeholder", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  /* height: 300vh; */
  display: flex;
  flex-direction: column;
}

.bodyClass {
  width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  color: rgb(36, 38, 47);
  /* position: fixed; */
  /* border: 1px solid rgb(110, 6, 242); */
  align-items: center;
  display: flex;
  position: relative;
  justify-content: space-between;
}


nav {
  justify-content: flex-end;
  display: flex;
  font-size: 16px;
  line-height: 36px;
  font-weight: 600;
  gap: 20px;
}

nav a {
  align-items: baseline;
  color: rgb(102, 102, 102);
  text-align: center;
  padding: 8px 4px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px;
  padding: 3px;

}

nav a.default-nav {
  color: rgb(110, 6, 242);
}

nav a:hover {
  color: rgb(110, 6, 242);
  transition: all 0.5s ease-in-out 0s;
}

.contact {
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cImg {
  width: 21px;
  height: 21px;
  font-size: 16px;
  display: block;
  font-family: Inter, "Inter Placeholder", sans-serif;
  font-style: normal;
  font-weight: 400;
  image-rendering: auto;
  object-fit: cover;
  object-position: 50% 50%;
  -webkit-font-smoothing: antialiased;
}

.mainSecClass {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding-bottom: 100px;
}

.profile {
  display: flex;
  flex-basis: auto;
  height: 800px;
  /* position: relative; */
  align-content: center;
  align-items: center;
}

.profileDetails {
  /* display: grid; */
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-content: center;
  /* align-items: ; */
}

.minGap {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.introFirst {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.introName {
  display: flex;
  font-family: Poppins, "Poppins Placeholder", sans-serif;
  font-size: 24px;
  font-weight: 400;
  height: 28.7969px;
  justify-content: flex-start;
  color: rgb(78, 82, 90);
  position: relative;
  /* width:650px; */
  -webkit-font-smoothing: antialiased;
}

.fDev {
  font-size: 90px;
  font-weight: 700;
  line-height: 90px;
  color: rgb(36, 38, 47);
}

h4 {
  font-family-bold: "Poppins", "Poppins Placeholder", sans-serif;
}

span {
  color: rgb(110, 6, 242);
}

.lillDescription {
  font-family: "Poppins", "Poppins Placeholder", sans-serif;
  font-size: 22px;
  color: rgb(78, 82, 90);
}

.btnRw {
  display: flex;
  gap: 15px;
}

h5 {
  color: rgb(104, 40, 13);
  align-content: center;
  max-height: 60%;
}

.gITButton {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16.8px;
  text-decoration: none;
  background-color: transparent;
  width: 142px;
  height: 40px;
  border: 1px solid black;
  border-radius: 8px;
  text-decoration: none;
  background-color: rgb(110, 6, 242);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, "Poppins Placeholder", sans-serif;
}

.gITButton:hover {
  background-color: rgb(131, 50, 236);
  color: white;
  transition: all 0.5s ease-in-out 0s;
}

.projButton {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16.8px;
  text-decoration: none;
  background-color: transparent;
  width: 142px;
  height: 40px;
  border: 1px solid black;
  border-radius: 8px;
  color: rgb(36, 38, 47);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, "Poppins Placeholder", sans-serif;
}

.projButton:hover {
  background-color: black;
  color: white;
  transition: all 0.6s ease-in-out 0s;
}

.profImg {
  display: flex;
  flex-direction: column;
}

.imgBrdr {
  display: flex;
  border-radius: 50%;
  border: 1px solid rgb(110, 6, 242);
  width: 450px;
  height: 450px;
  justify-content: center;
  align-items: center;
}

.profile img {
  width: 85%;
  height: 85%;
  background-color: rgb(101, 111, 157);
  border-radius: 50%;
}


.aboutMe,
.sec-skills,
.story {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 25px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.pSection {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.projects {
  position: relative;
  /* padding: 5px; */
  display: grid;
  grid-template-columns: repeat(5, minmax(1px, 1fr));
  grid-template-rows: repeat(2, minmax(1px, 1fr));
  gap: 40px;
  height: min-content;
  overflow: visible;
}

.projectsTitle,
.expeT,
.skillsH {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}

.expeT {
  outline: none;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}

.projPubPols,
.fExpPro,
.cntPostUsers,
.musicPro {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  /* border: 2px solid #e8e9eb; */
  height: 449px;
}

.projPubPols,
.fExpPro {
  grid-column: auto / span 2;
}

.cntPostUsers,
.musicPro {
  grid-column: auto / span 3;
}

.projects img {
  width: 100%;
  height: 325px;
  /* object-fit: cover; */
  border-radius: 20px;
}

.tittleDescrip {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-decoration: none;
}

.pTit {
  color: rgb(36, 38, 47);
  cursor: pointer;
  display: block;
  font-family: Poppins, "Poppins Placeholder", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  height: 30.7969px;
  letter-spacing: normal;
  line-height: 30.8px;
  -webkit-font-smoothing: antialiased;
}

.pDisc {
  color: rgb(78, 82, 90);
  cursor: auto;
  display: block;
  font-family: Poppins, "Poppins Placeholder", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 25px;
  letter-spacing: -0.5px;
  line-height: 25px;
  -webkit-font-smoothing: antialiased;
}

.wExp {
  display: flex;
  flex-direction: row;
  flex: none;
  height: 200px;
  /* position: relative; */
  width: 100%;
  align-content: center;
  align-items: center;
  column-gap: 40px;
  /* flex-basis:auto; */
  flex-wrap: nowrap;
  justify-content: flex-start;
  opacity: 1;
  position: relative;
  row-gap: 40px;
  -webkit-font-smoothing: antialiased;
}

.exp {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  row-gap: 30px;
}

.wPlaces {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* gap: 20px; */
  height: 200px;
  justify-content: center;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}


.cB {
  display: block;
  font-family: Poppins, "Poppins Placeholder", sans-serif;
  display: block;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  color: rgb(36, 38, 47);
  line-height: 26.4px;
  padding-left: 10px;
  /* border-left: 1px solid rgb(36, 38, 47); */
  -webkit-font-smoothing: antialiased;
  border-left: 2px solid rgb(36, 38, 47);
  padding: 12px;
}

.cB:hover {
  border-left: 2px solid rgb(110, 6, 242);
  padding: 12px;
  color: rgb(110, 6, 242);
  transition: all 0.5s ease-in-out 0s;
}

.svgBlock {
  width: 20px;
  height: 20px;
  display: block;
}

.expDetails,
.toDo {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  row-gap: 20px;
}

.expDetails {
  gap: 30px;
}

.skillsH,
.expH,
.storyH {
  outline: none;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.2em;
}

.skills {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: auto;
  justify-content: space-between;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.skills-sub-head {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.webDesign,
.Frontend,
.Backend,
.softSkills {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.wDP,
.fP,
.bP,
.sSP {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: rgb(78, 82, 90);
  font-style: normal;
  row-gap: 10px;
}

.ss {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.storyPara {
  color: rgb(78, 82, 90);
  display: block;
  font-family: Poppins, "Poppins Placeholder", sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 21.6016px;
  letter-spacing: normal;
  line-height: 21.6px;
  text-align: start;
  text-decoration-color: rgb(78, 82, 90);
  -webkit-font-smoothing: antialiased;
}

footer {
  /* background-color: rgb(104, 40, 13); */
  display: flex;
  flex-direction: column;
  /* bottom: 0; */
  position: relative;
  width: 100%;
  bottom: 30px;
  row-gap: 50px;
}

/* footer a {
  color: #0e0d0d;
} */

.fNav {
  justify-content: flex-start;
  align-content: center;
}

.fNav a {
  align-items: baseline;
  color: rgb(102, 102, 102);
  text-align: center;
  padding: 8px 4px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px;
  padding: 3px;
}

.fNav a .default-nav {
  color: rgb(110, 6, 242);
}

.fNav a:hover {
  color: rgb(110, 6, 242);
  transition: all 0.5s ease-in-out 0s;
}

.fbottom {
  display: flex;
  justify-content: space-between;
}

.ff {
  display: grid;
  row-gap: 20px;
}

.iiw {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
}

.copRights {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  /* .profile {
    justify-content: space-around;
    margin: 30px;
    padding-top: 50px;
  }

  body {
    display: flex;
    /* flex-flow: row wrap;
    align-content: space-between; 
  }

  /* header {
    background-color: rgb(104, 40, 13);
    color: #f2f2f2;
    font-size: 10px;
    flex-direction: column;
  } 

  nav {
    padding: 0;
    margin-right: 10px;
    display: flex;
    /* align-items: flex-end; 
  }

  nav a {
    align-items: last baseline;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0px;
  }

  nav a:hover {
    background-color: #ddd;
    color: black;
    transition: all 0.5s ease-in-out 0s;
  }

  nav a:focus {
    outline: 3px solid #0066cc;
    outline-offset: 2px;
  }

  .mc {
    width: 100vw;
    justify-content: center;
    align-content: space-between;
  }

  .main-content {
    margin: 5px;
    width: 85%;
    height: 98%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* align-content: space-between; 
    border: 2px solid black;
  }

  .projects {
    grid-area: 1 / 3 / 1/ 3;
    padding: 10px;
    border: 2px solid rgb(231, 15, 15);
    width: 95%;
    height: 70%;
    justify-content: center;
    align-content: space-evenly;
    flex-direction: column;
    display: flex;
    flex-flow: row wrap;
    row-gap: 30px;
  }

  .p-pp {
    width: 95%;
    height: 45%;
  }

  .cp-u {
    width: 95%;
    height: 45%;
  }

  .interest {
    grid-area: 2 / 3 / 3 / 3;
    padding: 30px;
    border: 2px solid green;
    width: 95%;
    /* height: 45%; 
  }*/
}