* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Poppins Placeholder", sans-serif;
  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.bodyClass {
  width: 97%;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  color: rgb(36, 38, 47);
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* details{
  display: none;
} */

nav {
  justify-content: flex-end;
  display: flex;
  font-size: 16px;
  line-height: 36px;
  font-weight: 600;
  gap: 20px;
}

nav a {
  align-items: baseline;
  color: rgb(102, 102, 102);
  text-align: center;
  padding: 8px 4px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px;
  padding: 3px;
  transition: all 0.5s ease-in-out 0s;
}

nav a.default-nav {
  color: rgb(110, 6, 242);
}

nav a:hover {
  color: rgb(110, 6, 242);
  transition: all 0.5s ease-in-out 0s;
}

#menu-bar,
.cName {
  display: none;
}

header label {
  align-items: baseline;
  color: rgb(102, 102, 102);
  text-align: center;
  padding: 8px 4px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px;
  padding: 3px;
  display: none;
}

.contact {
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cImg {
  width: 21px;
  height: 21px;
  font-size: 16px;
  display: block;
  font-family: Inter, "Inter Placeholder", sans-serif;
  font-style: normal;
  font-weight: 400;
  image-rendering: auto;
  object-fit: cover;
  object-position: 50% 50%;
  -webkit-font-smoothing: antialiased;
}

.mainSecClass {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding-bottom: 100px;
}

.profile {
  display: flex;
  flex-basis: auto;
  height: 800px;
  align-content: center;
  align-items: center;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-content: center;
}

.minGap {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.introFirst {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.introName {
  display: flex;
  font-family: Poppins, "Poppins Placeholder", sans-serif;
  font-size: 24px;
  font-weight: 400;
  height: 28.7969px;
  justify-content: flex-start;
  color: rgb(78, 82, 90);
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.fDev {
  font-size: 90px;
  font-weight: 700;
  line-height: 90px;
  color: rgb(36, 38, 47);
  text-wrap: balance;
}

h4 {
  font-family: "Poppins", "Poppins Placeholder", sans-serif;
}

span {
  color: rgb(110, 6, 242);
}

.lillDescription {
  font-family: "Poppins", "Poppins Placeholder", sans-serif;
  font-size: 22px;
  color: rgb(78, 82, 90);
}

.btnRw {
  display: flex;
  gap: 15px;
}

h5 {
  color: rgb(104, 40, 13);
  align-content: center;
  max-height: 60%;
}

.gITButton {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16.8px;
  text-decoration: none;
  background-color: transparent;
  width: 142px;
  height: 40px;
  border: 1px solid black;
  border-radius: 8px;
  text-decoration: none;
  background-color: rgb(110, 6, 242);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, "Poppins Placeholder", sans-serif;
}

.gITButton:hover {
  background-color: rgb(131, 50, 236);
  color: white;
  transition: all 0.5s ease-in-out 0s;
}

.projButton {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16.8px;
  text-decoration: none;
  background-color: transparent;
  width: 142px;
  height: 40px;
  border: 1px solid black;
  border-radius: 8px;
  color: rgb(36, 38, 47);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, "Poppins Placeholder", sans-serif;
}

.projButton:hover {
  background-color: black;
  color: white;
  transition: all 0.6s ease-in-out 0s;
}

.profImg {
  display: flex;
  flex-direction: column;
}

.imgBrdr {
  display: flex;
  border-radius: 50%;
  border: 1px solid rgb(110, 6, 242);
  width: 450px;
  height: 450px;
  justify-content: center;
  align-items: center;
}

.profile img {
  width: 85%;
  height: 85%;
  background-color: rgb(101, 111, 157);
  border-radius: 50%;
}

.aboutMe,
.secSkills,
.story {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 25px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.pSection {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.projects {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, minmax(1px, 1fr));
  grid-template-rows: repeat(2, minmax(1px, 1fr));
  gap: 40px;
  height: min-content;
  overflow: visible;
}

.projectsTitle,
.expeT,
.skillsH {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}

.expeT {
  outline: none;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}

.projPubPols,
.fExpPro,
.cntPostUsers,
.musicPro {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 449px;
}

.projPubPols,
.fExpPro {
  grid-column: auto / span 2;
}

.cntPostUsers,
.musicPro {
  grid-column: auto / span 3;
}

.projects img {
  width: 100%;
  height: 325px;
  border-radius: 20px;
}

.tittleDescrip {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-decoration: none;
}

.PubPols:hover i {
  background-color: black;
  color: white;
}

.pTit {
  color: rgb(36, 38, 47);
  cursor: pointer;
  display: block;
  font-family: Poppins, "Poppins Placeholder", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  height: 30.7969px;
  letter-spacing: normal;
  line-height: 30.8px;
  -webkit-font-smoothing: antialiased;
}

.pDisc {
  color: rgb(78, 82, 90);
  cursor: auto;
  display: block;
  font-family: Poppins, "Poppins Placeholder", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 25px;
  letter-spacing: -0.5px;
  line-height: 25px;
  -webkit-font-smoothing: antialiased;
}


.wExp {
  display: flex;
  flex-direction: row;
  flex: none;
  height: min-content;
  width: 100%;
  align-content: center;
  align-items: center;
  column-gap: 40px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  opacity: 1;
  position: relative;
  row-gap: 40px;
  -webkit-font-smoothing: antialiased;
}

.exp {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  row-gap: 30px;
}

.scrollBar {
  width: 40px;
  height: 40px;
  background-color: rgb(110, 6, 242);
  border-radius: 20%;
  cursor: pointer;
  border: none;
}

.wPlaces {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 200px;
  justify-content: center;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

.cB {
  display: block;
  font-family: Poppins, "Poppins Placeholder", sans-serif;
  display: block;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  color: rgb(36, 38, 47);
  line-height: 26.4px;
  padding-left: 10px;
  -webkit-font-smoothing: antialiased;
  border-left: 2px solid rgb(36, 38, 47);
  padding: 12px;
}

.cB:hover {
  border-left: 2px solid rgb(110, 6, 242);
  padding: 12px;
  color: rgb(110, 6, 242);
  transition: all 0.5s ease-in-out 0s;
}

.cB-active {
  border-left: 2px solid rgb(110, 6, 242);
  padding: 12px;
  color: rgb(110, 6, 242);
}

.svgBlock {
  width: 20px;
  height: 20px;
  display: block;
}

.expDetails,
.toDo {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  row-gap: 20px;
}

.expDetails {
  gap: 30px;
}

.skillsH,
.expH,
.storyH {
  outline: none;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.2em;
}

.skills {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: auto;
  justify-content: space-between;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 92%;
}

.skills-sub-head {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.webDesign,
.Frontend,
.Backend,
.softSkills {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.wDP,
.fP,
.bP,
.sSP {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: rgb(78, 82, 90);
  font-style: normal;
  row-gap: 10px;
}

.ss {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.storyPara {
  color: rgb(78, 82, 90);
  display: block;
  font-family: Poppins, "Poppins Placeholder", sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 21.6016px;
  letter-spacing: normal;
  line-height: 21.6px;
  text-align: start;
  text-decoration-color: rgb(78, 82, 90);
  -webkit-font-smoothing: antialiased;
}

footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  bottom: 30px;
  row-gap: 50px;
}

.fNav {
  justify-content: flex-start;
  align-content: center;
}

.fNav a {
  align-items: baseline;
  color: rgb(102, 102, 102);
  text-align: center;
  padding: 8px 4px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px;
  padding: 3px;
}

.fNav a .default-nav {
  color: rgb(110, 6, 242);
}

.fNav a:hover {
  color: rgb(110, 6, 242);
  transition: all 0.5s ease-in-out 0s;
}

.fbottom {
  display: flex;
  justify-content: space-between;
}

.ff {
  display: grid;
  row-gap: 20px;
}

.iiw {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
}

.copRights {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

@media only screen and (max-width: 1200px) {
  body {
    box-sizing: border-box;
    display: block;
    width: 100vw;
  }

  .bodyClass {
    margin: 0 auto;
    padding: 0 20px;
    height: min-content;
    width: 100%;
  }

  header {
    color: rgb(36, 38, 47);
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  nav {
    justify-content: flex-end;
    display: flex;
    font-size: 16px;
    line-height: 36px;
    font-weight: 600;
    gap: 20px;
  }

  nav a {
    align-items: baseline;
    color: rgb(102, 102, 102);
    text-align: center;
    padding: 8px 4px;
    text-decoration: none;
    font-size: 17px;
    margin: 0px;
    padding: 3px;
  }

  nav a.default-nav {
    color: rgb(110, 6, 242);
  }

  nav a:hover {
    color: rgb(110, 6, 242);
    transition: all 0.5s ease-in-out 0s;
  }

  #menu-bar,
  .cName {
    display: none;
  }

  header label {
    align-items: baseline;
    color: rgb(102, 102, 102);
    text-align: center;
    padding: 8px 4px;
    text-decoration: none;
    font-size: 17px;
    margin: 0px;
    padding: 3px;
    display: none;
  }

  .contact {
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cImg {
    width: 21px;
    height: 21px;
    font-size: 16px;
    display: block;
    font-family: Inter, "Inter Placeholder", sans-serif;
    font-style: normal;
    font-weight: 400;
    image-rendering: auto;
    object-fit: cover;
    object-position: 50% 50%;
    -webkit-font-smoothing: antialiased;
  }

  .mainSecClass {
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    gap: 80px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 1113px;
    padding-bottom: 50px;
    padding-top: 75px;
    box-sizing: border-box;
    flex-basis: auto;
    flex-wrap: nowrap;
    font-family: sans-serif;
    font-size: 12px;
  }

  .profileDetails {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    height: 304px;
    width: 100%;
  }

  .minGap {
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    flex-basis: auto;
    height: 105px;
  }

  .introName {
    font-size: 28px;
    font-weight: 400;
    height: 28.7969px;
    letter-spacing: -1px;
    line-height: 28.8px;
    color: rgb(78, 82, 90);
  }

  .fDev {
    font-size: 72px;
    font-weight: 700;
    line-height: 58px;
    color: rgb(36, 38, 47);
    display: block;
    letter-spacing: -2px;
    -webkit-font-smoothing: antialiased;
    align-content: center;
  }

  .lillDescription {
    display: block;
    font-size: 22px;
    font-weight: 400;
    color: rgb(78, 82, 90);
    line-height: 26.6px;
    height: 64;
  }

  .btnRw {
    display: flex;
    flex-basis: auto;
    justify-content: center;
    height: 40px;
    /* width: 385px; */
    column-gap: 15px;
    align-content: center;
    align-items: center;
  }

  .gITButton {
    font-size: 14px;
    height: 40px;
    justify-content: center;
    opacity: 1;
    width: 116px;
  }

  .projButton {
    font-size: 14px;
    height: 40px;
    justify-content: center;
    opacity: 1;
    width: 142px;
  }

  .profImg {
    height: 741px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 20px;
    position: relative;
    width: auto;
    width: 100%;
  }

  .imgBrdr {
    height: 500px;
    width: 500px;
    /* padding: 20px; */
  }

  .pSection {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    position: relative;
  }

  .projects {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    width: 100%;
    grid-auto-rows: min-content;
  }

  .projPubPols,
  .cntPostUsers,
  .musicPro,
  .fExpPro {
    box-sizing: border-box;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    /* width: 93%; */
    -webkit-font-smoothing: antialiased;
  }

  .projects img {
    width: 100%;
    height: 325px;
    width: 100%;
    /* object-fit: cover; */
    border-radius: 20px;
  }

  .projPubPolsImg,
  .cntPostUsersImg,
  .musicProImg,
  .fExpProImg {
    display: block;
    image-rendering: auto;
    object-fit: cover;
    row-gap: 35px;
    -webkit-font-smoothing: antialiased;
  }

  .pDisc {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    flex-basis: auto;
    flex-direction: column;
    line-height: 25px;
    flex-wrap: nowrap;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    opacity: 1;
    row-gap: 10px;
    height: auto;
    -webkit-font-smoothing: antialiased;
  }

  .tittleDescrip {
    height: auto;
    display: flex;
    flex-basis: auto;
    row-gap: 10px;
  }

  .projectsTitle,
  .expH,
  .skillsH,
  .storyH {
    font-size: 46px;
    font-weight: 700;
    line-height: 67px;
    height: 55px;
  }

  .pTit {
    color: rgb(36, 38, 47);
    cursor: pointer;
    display: block;
    font-family: Poppins, "Poppins Placeholder", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    height: 24px;
    letter-spacing: normal;
    line-height: 24px;
    text-wrap: nowrap;
    -webkit-font-smoothing: antialiased;
  }

  .pDisc{
    color:rgb(78, 82, 90);
    display:block;
    font-family:Poppins, "Poppins Placeholder", sans-serif;
    font-size:18px;
    font-style:normal;
    font-weight:500;
    /* height:50.4062px; */
    letter-spacing: -0.5px;
    line-height:25.2px;
    text-wrap-mode:wrap;
    -webkit-font-smoothing:antialiased;
  }

  .wExp {
    display: flex;
    flex-direction: row;
    flex: none;
    height: min-content;
    width: 100%;
    align-content: center;
    align-items: center;
    column-gap: 40px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    opacity: 1;
    position: relative;
    row-gap: 40px;
    -webkit-font-smoothing: antialiased;
  }

  .exp {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    row-gap: 30px;
  }

  .scrollBar {
    width: 40px;
    height: 40px;
    background-color: rgb(110, 6, 242);
    border-radius: 20%;
    cursor: pointer;
    border: none;
  }

  .wPlaces {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 200px;
    justify-content: center;
    padding: 0;
    position: relative;
    box-sizing: border-box;
  }

  .cB {
    display: block;
    font-family: Poppins, "Poppins Placeholder", sans-serif;
    display: block;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    color: rgb(36, 38, 47);
    line-height: 26.4px;
    padding-left: 10px;
    -webkit-font-smoothing: antialiased;
    border-left: 2px solid rgb(36, 38, 47);
    padding: 12px;
  }

  .cB:hover {
    border-left: 2px solid rgb(110, 6, 242);
    padding: 12px;
    color: rgb(110, 6, 242);
    transition: all 0.5s ease-in-out 0s;
  }

  .cB-active {
    border-left: 2px solid rgb(110, 6, 242);
    padding: 12px;
    color: rgb(110, 6, 242);
  }

  .svgBlock {
    width: 20px;
    height: 20px;
    display: block;
  }

  .expDetails,
  .toDo {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    row-gap: 20px;
  }

  .expDetails {
    gap: 30px;
  }

  .skillsH,
  .expH,
  .storyH {
    outline: none;
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    line-height: 1.2em;
  }

  .skills {
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
    justify-content: space-between;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
  }

  .skills-sub-head {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
  }

  .webDesign,
  .Frontend,
  .Backend,
  .softSkills {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .wDP,
  .fP,
  .bP,
  .sSP {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: rgb(78, 82, 90);
    font-style: normal;
    row-gap: 10px;
  }

  .ss {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .storyPara {
    color: rgb(78, 82, 90);
    display: block;
    font-family: Poppins, "Poppins Placeholder", sans-serif;
    font-size: 18px;
    font-weight: 400;
    /* height: 21.6016px; */
    letter-spacing: normal;
    line-height: 21.6px;
    text-align: start;
    text-decoration-color: rgb(78, 82, 90);
    -webkit-font-smoothing: antialiased;
  }

  footer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    bottom: 30px;
    row-gap: 50px;
  }

  .fNav {
    justify-content: flex-start;
    align-content: center;
  }

  .fNav a {
    align-items: baseline;
    color: rgb(102, 102, 102);
    text-align: center;
    padding: 8px 4px;
    text-decoration: none;
    font-size: 17px;
    margin: 0px;
    padding: 3px;
  }

  .fNav a .default-nav {
    color: rgb(110, 6, 242);
  }

  .fNav a:hover {
    color: rgb(110, 6, 242);
    transition: all 0.5s ease-in-out 0s;
  }

  .fbottom {
    display: flex;
    justify-content: space-between;
  }

  .ff {
    display: grid;
    row-gap: 20px;
  }

  .iiw {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
  }

  .copRights {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
  }
}

@media only screen and (max-width: 768px) {
  body {
    box-sizing: border-box;
    display: block;
    width: 100vw;
  }

  .bodyClass {
    margin: 0 auto;
    padding: 0 20px;
    height: min-content;
    width: 100%;
  }

  header {
    color: rgb(36, 38, 47);
    font-size: 16px;
    /* padding: 0px 20px; */
    position: relative;
    box-sizing: border-box;
    font-family: Poppins, "Poppins Placeholder", sans-serif;
    height: auto;
    unicode-bidi: isolate;
    width: auto;
    -webkit-font-smoothing: antialiased;
  }

  .threeMenu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  details {
    display: block;
  }

  .pHead {
    box-sizing: border-box;
    color: rgb(36, 38, 47);
    display: inline-block;
    font-family: Poppins, "Poppins Placeholder", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    height: auto;
    letter-spacing: normal;
    line-height: 19.2px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  header label {
    display: initial;
  }

  header .navBar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    float: right;
    display: none;
  }

  .navBar {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 64px;
    position: absolute;
    transform: none;
    transform-origin: 186px 32px;
    unicode-bidi: isolate;
  }

  nav a {
    display: flex;
    flex-direction: column;
    color: rgb(102, 102, 102);
    text-decoration: none;
    font-size: 22px;
    margin: 0px;
  }

  .navBar a:hover {
    color: rgb(110, 6, 242);
    transition: all 0.5s ease-in-out 0s;
  }

  .cName {
    display: flex;
    justify-content: flex-start;
  }

  #menu-bar {
    position: absolute;
  }

  #menu-bar:checked ~ nav {
    display: contents;
    /* z-index: 1; */
  }

  .contact {
    display: none;
  }

  .mainSecClass {
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    gap: 80px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 750px;
    padding-bottom: 50px;
    padding-top: 75px;
    box-sizing: border-box;
    flex-basis: auto;
    flex-wrap: nowrap;
    font-family: sans-serif;
    font-size: 12px;
  }

  .profileDetails {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-content: flex-start;
    align-items: flex-start;
    height: 304px;
    /* width: 385px; */
  }

  .minGap {
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    flex-basis: auto;
    height: 91px;
  }

  .introName {
    font-size: 28px;
    font-weight: 400;
    height: 28.7969px;
    letter-spacing: -1px;
    line-height: 28.8px;
    color: rgb(78, 82, 90);
  }

  .fDev {
    font-size: 58px;
    font-weight: 700;
    line-height: 58px;
    color: rgb(36, 38, 47);
    display: block;
    /* height: 116px; */
    letter-spacing: -2px;
    -webkit-font-smoothing: antialiased;
    align-content: center;
  }

  .lillDescription {
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: rgb(78, 82, 90);
    line-height: 21.6px;
    height: 64;
  }

  .imgBrdr {
    height: 400px;
    width: 400px;
    padding: 20px;
  }

  .btnRw {
    display: flex;
    flex-basis: auto;
    justify-content: center;
    height: 40px;
    /* width: 385px; */
    column-gap: 15px;
    align-content: center;
    align-items: center;
  }

  .gITButton {
    font-size: 14px;
    height: 40px;
    justify-content: center;
    opacity: 1;
    width: 116px;
  }

  .projButton {
    font-size: 14px;
    height: 40px;
    justify-content: center;
    opacity: 1;
    width: 142px;
  }

  .profImg {
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 30px;
    position: relative;
    width: 400px;
    width: 100%;
  }

  .pSection {
    display: flex;
    flex-direction: column;
    height: 1858px;
    width: auto;
    position: relative;
  }

  .projects {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
  }

  .projPubPols,
  .cntPostUsers,
  .musicPro,
  .fExpPro {
    box-sizing: border-box;
    column-gap: 30px;
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    /* width: 93%; */
    -webkit-font-smoothing: antialiased;
  }

  .projects img {
    width: 100%;
    height: 275px;
    /* object-fit: cover; */
    border-radius: 20px;
  }

  .projPubPolsImg,
  .cntPostUsersImg,
  .musicProImg,
  .fExpProImg {
    display: block;
    image-rendering: auto;
    object-fit: cover;
    row-gap: 35px;
    -webkit-font-smoothing: antialiased;
  }

  .pDisc {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    flex-basis: auto;
    flex-direction: column;
    line-height: 25px;
    flex-wrap: nowrap;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    opacity: 1;
    row-gap: 10px;
    /* width: 385px; */
    height: auto;
    -webkit-font-smoothing: antialiased;
  }

  .tittleDescrip {
    height: auto;
    display: flex;
    flex-basis: auto;
    row-gap: 10px;
  }

  .projectsTitle,
  .expH,
  .skillsH,
  .storyH {
    font-size: 46px;
    font-weight: 700;
    line-height: 67px;
    height: 55px;
  }

  .pDisc{
    color:rgb(78, 82, 90);
    display:block;
    font-family:Poppins, "Poppins Placeholder", sans-serif;
    font-size:18px;
    font-style:normal;
    font-weight:500;
    /* height:50.4062px; */
    letter-spacing: -0.5px;
    line-height:25.2px;
    text-wrap-mode:wrap;
    -webkit-font-smoothing:antialiased;
  }

  .pTit {
    color: rgb(36, 38, 47);
    cursor: pointer;
    display: block;
    font-family: Poppins, "Poppins Placeholder", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    height: 24px;
    letter-spacing: normal;
    line-height: 24px;
    text-wrap: nowrap;
    -webkit-font-smoothing: antialiased;
  }

  .wExp {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-basis: auto;
    row-gap: 10px;
    height: auto;
    /* padding: 0px 20px; */
    box-sizing: border-box;
  }

  .wPlaces {
    height: auto;
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    justify-content: flex-start;
    width: 95%;
    overflow-x: scroll;
  }

  .cB {
    display: block;
    font-family: Poppins, "Poppins Placeholder", sans-serif;
    display: block;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    color: rgb(36, 38, 47);
    line-height: 26.4px;
    padding-left: 10px;
    border-left: none;
    width: 372px;
    -webkit-font-smoothing: antialiased;
    border-bottom: 2px solid rgb(36, 38, 47);
    padding: 12px;
  }

  .cB:hover {
    border-left: none;
    border-bottom: 2px solid rgb(110, 6, 242);
    padding: 12px;
    color: rgb(110, 6, 242);
    transition: all 0.5s ease-in-out 0s;
  }

  .cB-active {
    border-bottom: 2px solid rgb(110, 6, 242);
    padding: 12px;
    color: rgb(110, 6, 242);
  }

  .secSkills {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 25px;
    /* padding: 0px 20px; */
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    flex: none;
    flex-wrap: nowrap;
    gap: 10px;
    height: auto;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .webDesign,
  .Frontend,
  .Backend,
  .softSkills {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    height: 204px;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
    position: relative;
  }

  .storyPara{
    height: auto;
  }

  footer {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    align-items: center;
    /* height: auto; */
  }

  .fbottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .ff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .copRights {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  body {
    box-sizing: border-box;
    display: block;
    width: 100vw;
  }

  .bodyClass {
    margin: 0 auto;
    padding: 0 20px;
    height: min-content;
    width: 100%;
  }

  header {
    color: rgb(36, 38, 47);
    font-size: 16px;
    /* padding: 0px 20px; */
    position: relative;
    box-sizing: border-box;
    font-family: Poppins, "Poppins Placeholder", sans-serif;
    height: auto;
    unicode-bidi: isolate;
    width: auto;
    -webkit-font-smoothing: antialiased;
  }

  .threeMenu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  details {
    display: block;
  }

  .pHead {
    box-sizing: border-box;
    color: rgb(36, 38, 47);
    display: inline-block;
    font-family: Poppins, "Poppins Placeholder", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    height: auto;
    letter-spacing: normal;
    line-height: 19.2px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  header label {
    display: initial;
  }

  header .navBar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    float: right;
    display: none;
  }

  .navBar {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 64px;
    position: absolute;
    transform: none;
    transform-origin: 186px 32px;
    unicode-bidi: isolate;
  }

  nav a {
    display: flex;
    flex-direction: column;
    color: rgb(102, 102, 102);
    text-decoration: none;
    font-size: 22px;
    margin: 0px;
  }

  .navBar a:hover {
    color: rgb(110, 6, 242);
    transition: all 0.5s ease-in-out 0s;
  }

  .cName {
    display: flex;
    justify-content: flex-start;
  }

  #menu-bar {
    position: absolute;
  }

  #menu-bar:checked ~ nav {
    display: contents;
    /* z-index: 1; */
  }

  .contact {
    display: none;
  }

  .mainSecClass {
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    gap: 80px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 750px;
    padding-bottom: 50px;
    padding-top: 75px;
    box-sizing: border-box;
    flex-basis: auto;
    flex-wrap: nowrap;
    font-family: sans-serif;
    font-size: 12px;
    /* padding-left: 20px;
    padding-right: 20px; */
  }

  .profileDetails {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-content: flex-start;
    align-items: flex-start;
    height: 304px;
    /* width: 385px; */
  }

  .minGap {
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    flex-basis: auto;
    height: auto;
  }

  .introName {
    font-size: 24px;
    font-weight: 400;
    height: 28.7969px;
    letter-spacing: -1px;
    line-height: 28.8px;
    color: rgb(78, 82, 90);
  }

  .fDev {
    font-size: 58px;
    font-weight: 700;
    line-height: 58px;
    color: rgb(36, 38, 47);
    display: block;
    /* height: 116px; */
    letter-spacing: -2px;
    -webkit-font-smoothing: antialiased;
    align-content: center;
  }

  .lillDescription {
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: rgb(78, 82, 90);
    line-height: 21.6px;
    height: 64;
  }

  .btnRw {
    display: flex;
    flex-basis: auto;
    justify-content: center;
    height: 40px;
    /* width: 385px; */
    column-gap: 15px;
    align-content: center;
    align-items: center;
  }

  .gITButton {
    font-size: 14px;
    height: 40px;
    justify-content: center;
    opacity: 1;
    width: 116px;
  }

  .projButton {
    font-size: 14px;
    height: 40px;
    justify-content: center;
    opacity: 1;
    width: 142px;
  }

  .profImg {
    height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    /* width: 385px; */
  }

  .imgBrdr {
    height: 350px;
    width: 350px;
  }

  .profile img {
    height: 280px;
    width: 280px;
  }

  .pSection {
    display: flex;
    flex-direction: column;
    height: 1858px;
    width: auto;
    position: relative;
  }

  .projects {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
  }

  .projPubPols,
  .cntPostUsers,
  .musicPro,
  .fExpPro {
    box-sizing: border-box;
    column-gap: 30px;
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    /* width: 93%; */
    -webkit-font-smoothing: antialiased;
  }

  .projects img {
    width: 100%;
    height: 275px;
    /* object-fit: cover; */
    border-radius: 20px;
  }

  .projPubPolsImg,
  .cntPostUsersImg,
  .musicProImg,
  .fExpProImg {
    display: block;
    image-rendering: auto;
    object-fit: cover;
    row-gap: 40px;
    height: 275px;
    object-position:50% 50%;
    -webkit-font-smoothing: antialiased;
  }

  .pDisc {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    flex-basis: auto;
    flex-direction: column;
    line-height: 25px;
    flex-wrap: nowrap;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    opacity: 1;
    row-gap: 10px;
    /* width: 385px; */
    height: auto;
    -webkit-font-smoothing: antialiased;
  }

  .tittleDescrip {
    height: auto;
    display: flex;
    flex-basis: auto;
    row-gap: 10px;
  }

  .projectsTitle,
  .expH,
  .skillsH{
    font-size: 46px;
    font-weight: 700;
    line-height: 55px;
    /* height: 55px; */
    color: rgb(36, 38, 47);
  }

  .pTit {
    color: rgb(36, 38, 47);
    cursor: pointer;
    display: block;
    font-family: Poppins, "Poppins Placeholder", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    height: 24px;
    letter-spacing: normal;
    line-height: 24px;
    text-wrap: nowrap;
    -webkit-font-smoothing: antialiased;
  }

  .pDisc{
    color:rgb(78, 82, 90);
    display:block;
    font-family:Poppins, "Poppins Placeholder", sans-serif;
    font-size:18px;
    font-style:normal;
    font-weight:500;
    height:50.4062px;
    letter-spacing: -0.5px;
    line-height:25.2px;
    text-wrap-mode:wrap;
    -webkit-font-smoothing:antialiased;
  }

  .wExp {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-basis: auto;
    row-gap: 10px;
    height: auto;
    /* padding: 0px 20px; */
    box-sizing: border-box;
  }

  .wPlaces {
    height: auto;
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    justify-content: flex-start;
    width: 95%;
    overflow-x: scroll;
  }

  .cB {
    display: block;
    font-family: Poppins, "Poppins Placeholder", sans-serif;
    display: block;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    color: rgb(36, 38, 47);
    line-height: 26.4px;
    padding-left: 10px;
    border-left: none;
    width: 372px;
    -webkit-font-smoothing: antialiased;
    border-bottom: 2px solid rgb(36, 38, 47);
    padding: 12px;
  }

  .cB:hover {
    border-left: none;
    border-bottom: 2px solid rgb(110, 6, 242);
    padding: 12px;
    color: rgb(110, 6, 242);
    transition: all 0.5s ease-in-out 0s;
  }

  .cB-active {
    border-bottom: 2px solid rgb(110, 6, 242);
    padding: 12px;
    color: rgb(110, 6, 242);
  }

  .secSkills {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    row-gap: 25px;
    flex-basis: auto;
    /* padding: 0px 20px; */
    -webkit-font-smoothing:antialiased;
  }

  .skills {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    flex: none;
    flex-wrap: nowrap;
    gap: 10px;
    height: auto;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .webDesign,
  .Frontend,
  .Backend,
  .softSkills {
    align-items: flex-start;
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    column-gap: 20px;
    height: 204px;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
    position: relative;
  }

  .wDP,
  .fP,
  .bP,
  .sSP {
  display: flex;
  flex-direction: column;
  height: 111px;
  row-gap: 8px;
  }

  .p-skills{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: rgb(78, 82, 90);
    font-style: normal;
  }

  
  .skills-sub-head{
    color: rgb(36, 38, 47);
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  .storyH {
    font-size: 46px;
    font-weight: 700;
    line-height: 55px;
    color: rgb(36, 38, 47);
  }

  .storyPara{
    height: auto;
  }

  footer {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    align-items: center;
    align-content: center;
    width: auto;
    /* height: auto; */
  }

  .fbottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    align-content: center;
  }

  .iiw {
    font-size: 22px;
    box-sizing: border-box;
    color: rgb(78, 82, 90);
    display: block;
    font-family: Poppins, "Poppins Placeholder", sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 26.4px;
    /* white-space-collapse:preserve; */
    word-break:break-word;
    -webkit-font-smoothing: antialiased;
    justify-content: center;
    text-align: center;
  }

  .btnRw {
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    column-gap: 25px;
    align-items: center;
    align-content: center;
  }

  .ff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 106px;
  }

  .copRights {
    display: flex;
    flex-direction: column;
    height: 38px;
    /* text-align: center; */
    justify-content: flex-start;
    /* display: block; */
  }

  .cprights {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: rgb(78, 82, 90);
    text-decoration-style: solid;
    font-family: "Poppins", "Poppins Placeholder", sans-serif;
  }
}
