*{
margin: 0;
padding: 0;
}

body{
    width: 100dvw;
    height: 100dvh;
    background-color: #1E293B;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainContainer{
    width:90vmin;
    height: 80vmin;
    background:#0F172A;
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainHeading{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: linear-gradient(135deg, #6366F1, #8B5CF6);
width: 100%;
min-height: 8vmin;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
flex-shrink: 0;

}

.mainHeading h1{
font-family: "Cherry Cream Soda", system-ui;
-webkit-font-smoothing: antialiased;
color:#fff;
font-weight: 600;
font-size: clamp(8px, 6vw, 24px);
}


.taskContainer{
    width:80vmin;
    margin-top: 6px;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    border-top: 2px solid;
    border-image: linear-gradient(to right, transparent, #fff, transparent)1;
}

.accordian{
    border: 1px solid #fff;
    border-radius: 8px;
    width:65vmin;
    margin: 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    /* background-color: #fff; */
}

.accordianHeading{
    padding: 0.25rem 3rem 0.25rem 1rem;
    min-height:2.5rem;
    line-height:1rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordianH{
    font-family: "Cherry Cream Soda", system-ui;
    color: #fff;
    font-size: clamp(8px, 6vw, 18px);
    font-weight: 500; 
}

.accordianHeading::after{
    content: "\002B";
    position: absolute;
    right: 1rem;
    transition: transform 0.4s;
     font-size: clamp(6px, 6vw, 18px);
    font-weight: 500; 
   color:#fff;
}

.accordianHeading.active::after{
    transform: rotate(45deg);
}

.accordianBodyContainer{
    display: none;
    overflow: hidden; 
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #fff, transparent) 1;
}

.editContainer{
    display: flex;
    /* flex-basis:85,15; */
    justify-content: space-between;
}
/* .textContainer{
    width:85%;
} */

.accordianBody{
    padding: 1rem;
    color:#fff;
    width:100%;
    height: min-content;
    text-wrap: wrap;
}

.accordianBody[contenteditable="true"] {
    border: 1px dashed #4A6CF7;
    background-color: #222;
    outline: none;
    width:80%;
}

.dropdown{
    min-width: 1rem;
    position: relative;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-start;
}

.select{
    border-radius: 25%;
    color: #fff;
    cursor: pointer;
    width: 100%;
    padding:2px;
    height: 15px;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.selected{
    transition: transform 0.4s ease-in-out;
}

.activeDD{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.1rem 0.2em;
    background:rgba(255,255,255,0.08);
    backdrop-filter: blur(50px);
    border: 1px solid #2e28280f;
    box-shadow: 0 0.5 1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    display: none;
    color:#fff;
    transition: display 0.4s ease-in-out;
}

.menu li{
    padding: 0.2em 0.5em;
    margin: 0.1em 0;
    border-radius: 0.2em;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
}

.fontStyle1{
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}

.fontStyle2{
    font-size: 12px;
    font-family: "Cherry Cream Soda", system-ui;
}
.basic{
    font-size: 12px;
    font-family:"'Courier New', Courier, monospace";
}
.menu li:hover{
    background: #fff;
    color: #2a2d35;
}

.menuSelect{
    background: #fff;
    color: #2a2d35;
}

.menuDisplay{
    display: block;
    opacity: 1;
}

@media only screen and (max-width: 1200px) {
    .mainContainer{
    width:90vmin;
    height: 80vmin;
    }
}

@media only screen and (max-width: 768px) {
    .mainContainer{
    width:90vmin;
    height: 95%;
    border-radius: 8px;
    }

    .mainHeading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: #6366F1; */
        width: 100%;
        min-height: 14vmin;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        flex-shrink: 0;
    }

}